////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-forms
/// @since        0.0.3
////

/// Icons
/// @group Icons

@mixin maas-icons {

  .icon {
    @include icon-size(16px);
    padding: 0;
    display: inline-block;
    vertical-align: middle;

    // scss-lint:disable SelectorFormat
    &.icon__add {
      background: url('../../assets/images/icons/add.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__cross {
      background: url('../../assets/images/icons/cross.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__cross-orange {
      background: url('../../assets/images/icons/cross_orange.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__debug {
      background: url('../../assets/images/icons/debug.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__delete {
      background: url('../../assets/images/icons/delete.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__edit {
      background: url('../../assets/images/icons/edit.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__error {
      background: url('../../assets/images/icons/error.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__help {
      background: url('../../assets/images/icons/help.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__info {
      background: url('../../assets/images/icons/info.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__loading {
      background: url('../../assets/images/icons/in_progress.png') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__partition {
      background: url('../../assets/images/icons/partition.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__power-error {
      background: url('../../assets/images/icons/power-error.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__power-off {
      background: url('../../assets/images/icons/power-off.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__power-on {
      background: url('../../assets/images/icons/power-on.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__success {
      background: url('../../assets/images/icons/success.svg') no-repeat;
      background-size: 100% 100%;
    }

    &.icon__warning {
      background: url('../../assets/images/icons/warning.svg') no-repeat;
      background-size: 100% 100%;
    }
    // scss-lint:enable SelectorFormat
  }

  /// Set a specific icon size
  .icon--small {
    @include icon-size(14px);
  }

  .icon--large {
    @include icon-size(20px);
  }

  .icon--mega {
    @include icon-size(23px);
  }

  .icon--gigantic {
    @include icon-size(32px);
  }

  /// Icon alignment for headings / text
  h1 {

    .icon {
      margin-top: -6px;
    }
  }

  h2,
  h3 {

    .icon {
      margin-top: -5px;
    }
  }

  h4,
  h5,
  p,
  label,
  button,
  a {

    .icon {
      margin-top: -3px;
    }
  }
}

@mixin icon-size($size) {
  width: $size;
  height: $size;
}
