/// Form element styles
@mixin maas-forms {

  // All input elements
  input {

    &[type='text'],
    &[type='number'],
    &[type='search'],
    &[type='password'],
    &[type='email'],
    &[type='url'],
    &[type='tel'] {
      @extend %input-elements;
      @include focus($offset: 2px);
      appearance: none;
      box-shadow: none;
      padding: 7px 10px;
      width: 100%;

      &::placeholder {
        color: $warm-grey;
      }

      &[disabled] {
        background-color: $transparent;
        color: $warm-grey;
      }

      &[aria-invalid='true'] {
        border-color: $error;
      }
    }

    &[type='number'] {
      padding-right: 15px;
    }

    &[type='search'] {
      appearance: textfield;

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button {
        appearance: none;
      }
    }

    &[type='checkbox'] {
      line-height: normal;
      margin: 4px 0 0;
      margin-top: 1px	9;
    }

    &[type='radio'],
    &[type='image'] {
      display: inline-block;
      margin-right: 10px;
    }
  }

  // Text area styles
  textarea {
    @include focus($offset: 2px);
    appearance: none;
    box-shadow: none;
    height: auto;
    line-height: 20px;
    min-height: 175px;
    padding: 7px 10px !important;
    width: 100%;

    &::placeholder {
      color: $warm-grey;
    }

    &[disabled] {
      background-color: $transparent;
      color: $warm-grey;
    }

    &[aria-invalid='true'] {
      border-color: $error;
    }
  }

  // Select dropdown styles
  select {
    @extend %input-elements;
    @include focus($offset: 2px);
    -moz-appearance: none;
    appearance: none;
    background: {
      color: $white;
      image: url('#{$asset-path}images/04d2075a-chevron-down.svg');
      position: top 14px right 10px;
      repeat: no-repeat;
    }
    box-shadow: none;
    clear: both;
    cursor: pointer;
    display: block;
    margin: 0;
    outline: inherit;
    padding: 7px 30px 7px 10px !important;
    text-indent: .01px;
    text-overflow: '';
    width: 100%;

    &[multiple],
    &[size] {
      background-image: none;
      height: auto;
      padding-top: 10px;
    }

    &[disabled] {
      background-color: $transparent;
      background-image: none;
      color: $warm-grey;
    }

    &[aria-invalid='true'] {
      border-color: $error;
    }

    // Removes firefox dotted outline focusing
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $black;
    }

    &::-ms-expand {
      display: none;
    }
  }

  fieldset {
    background: none;
    margin-left: 0;
    padding: 0;
  }

  label {
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;

    @media only screen and (max-width : $breakpoint-medium) {
      color: $warm-grey;
      width: 100%;
    }
  }

  button {
    @include focus($offset: 2px);
  }

  /// Base for label styling
  [type='checkbox'] {

    &:focus {

      + label {

        &::before {
          outline: 1px solid $color-focus;
          outline-offset: 2px;
        }
      }
    }

    &:not(:checked),
    &:checked {
      left: -9999px;
      position: absolute;
    }

    + label {
      cursor: pointer;
      display: inline-block !important;
      line-height: 34px;
      min-height: 34px;
      padding-left: 25px;
      position: relative;

      &::before {
        background: $white;
        border: 1px solid $mid-grey;
        border-radius: 2px;
        box-sizing: border-box;
        content: '';
        height: 16px;
        left: 0;
        position: absolute;
        top: 9px;
        width: 16px;
      }

      &:focus {
        outline: none;

        &::before {
          outline: 1px solid $color-focus;
          outline-offset: 2px;
        }
      }

      &:hover {

        &::before {
          background: url('#{$asset-path}images/46b44caf-checkbox-hover.svg') no-repeat;
          background-size: 100% 100%;
        }
      }
    }

    &:checked {

      + label {

        &::before {
          background: url('#{$asset-path}images/db8d0984-checkbox.svg') no-repeat;
          background-size: 100% 100%;
          border: 0;
        }
      }
    }

    &[disabled] {
      cursor: not-allowed;

      + label {
        cursor: not-allowed;

        &::before {
          opacity: .5;
        }
      }
    }
  }

  [type='radio'] {

    &:not(:checked),
    &:checked {
      left: -9999px;
      position: absolute;
    }

    &:focus {

      + label {

        &::before {
          box-shadow: 0 0 0 2px $white, 0 0 0 3px $color-focus;
        }
      }
    }

    + label {
      cursor: pointer;
      display: inline-block !important;
      padding-left: 25px;
      position: relative;

      &::before {
        background: $white;
        border: 1px solid $mid-grey;
        border-radius: 50%;
        content: '';
        height: 13px;
        left: 0;
        position: absolute;
        top: 5px;
        width: 13px;
      }

      &::after {
        content: '';
        opacity: 0;
        position: absolute;
        transition: opacity .4s ease;
      }

      &:focus {
        outline: none;

        &::before {
          outline: 1px solid $color-focus;
          outline-offset: 2px;
        }
      }

      &:hover {

        &::after {
          background: $alto-grey;
          border-radius: 50%;
          content: '';
          height: 7px;
          left: 4px;
          opacity: 1;
          position: absolute;
          top: 9px;
          width: 7px;
        }
      }
    }

    &:checked {

      + label:after {
        background: $component-color;
        border-radius: 50%;
        content: '';
        height: 9px;
        left: 3px;
        opacity: 1;
        position: absolute;
        top: 8px;
        width: 9px;
      }
    }
  }

  .tags {
    width: 100%;

    .tag-list {
      margin: 0;
      width: 100%;

      .tag-item {
        display: inline-block;
        float: left;
        line-height: 36px;
        margin-bottom: 0;
        margin-right: 10px;
        word-wrap: break-word;

        .remove-button {
          border-bottom: 0;
          color: $cool-grey;
        }
      }
    }

    .input {
      width: 100% !important;
    }
  }

  .onoffswitch {
    //scss-lint:disable VendorPrefixes
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    display: inline-block;
    height: 16px;
    margin: 4px 0 0;
    position: relative;
    vertical-align: top;
    width: 38px;
    //scss-lint:enable VendorPrefixes

    &[disabled] {

      .onoffswitch-checkbox,
      .onoffswitch-label {
        opacity: .5;
        pointer-events: none;
      }
    }
  }

  .onoffswitch-external-label {
    display: inline-block;
    margin-left: 5px;
  }

  .onoffswitch-checkbox {

    &:focus {

      + .onoffswitch-label {
        outline: 1px solid $color-focus;
        outline-offset: 2px;
      }
    }
  }

  .onoffswitch-label {
    border-radius: 2px;
    cursor: pointer;
    display: block !important;
    line-height: 16px !important;
    margin: 0 !important;
    max-height: 16px;
    min-height: 16px !important;
    overflow: hidden;
    padding-left: 0 !important;
    vertical-align: top !important;
    width: 100% !important;

    &::before,
    &::after {
      display: none;
    }
  }

  .onoffswitch-inner {
    display: block;
    margin-left: -100%;
    transition: margin .3s ease-in 0s;
    width: 200%;

    &::before,
    &::after {
      box-sizing: border-box;
      color: $white;
      display: block;
      float: left;
      font-family: Trebuchet, Arial, sans-serif;
      font-size: 14px;
      font-weight: bold;
      height: 18px;
      line-height: 18px;
      padding: 0;
      width: 50%;
    }

    &::before {
      background-color: $component-color;
      color: $white;
      content: '';
      padding-left: 10px;
    }

    &::after {
      background-color: $gallery-grey;
      color: $warm-grey;
      content: '';
      padding-right: 10px;
      text-align: right;
    }
  }

  .onoffswitch-switch {
    background: $white;
    border: 1px solid $outline;
    border-radius: 2px;
    bottom: 0;
    box-sizing: border-box;
    display: block;
    height: 16px;
    margin: 0;
    position: absolute;
    right: 19px;
    top: 0;
    transition: all .3s ease-in 0s;
    width: 19px;
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label {
    .onoffswitch-inner {
      margin-left: 0;
    }

    .onoffswitch-switch {
      right: 0;
    }
  }
}
