/// Typographic element styles
@mixin maas-typography {

  a {
    @include focus($offset: 2px);
    color: $link-hover;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid $link-hover;
      color: $link-hover;
      text-decoration: none;
    }
  }

  p,
  li,
  code,
  pre {
    @include font-size(16px);
    line-height: #{$line-height-ratio};
    margin-bottom: .75em;
  }

  pre,
  code {
    direction: ltr;
    hyphens: none;
    tab-size: 4;
    text-align: left;
    white-space: pre-line;
    word-spacing: normal;
    word-wrap: break-word;
  }

  hr {
    margin-bottom: 20px;
  }

  // Heading required classes and sizes
  $headings: h1, h2, h3, h4, h5;
  $size: $h1, $h2, $h3, $h4, $h5;
  $heading-size: zip($headings, $size);

  // Shared heading styles
  #{$headings()} {
    color: $headline-color;
    font-weight: 300;
    line-height: #{$line-height-ratio};
  }

  // Additional font sizes
  .gigantic {
    @include font-size($gigantic);
  }

  .mega {
    @include font-size($mega);
  }
}
