/// Main
@mixin maas-main {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: subpixel-antialiased;
  }

  html {
    overflow-x: hidden;
    height: 100%;
    min-height: 100%;
    color: $text-color;
    font: #{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
  }

  body {
    color: $text-color;
    background: $off-white;
    height: 100%;
  }
}
