/// Main
@mixin maas-meter {
  meter {
    -moz-appearance: none;
    -webkit-appearance: none;

    // Firefox
    background: none; // Required to get rid of the default background prop.
    background-color: $silk-grey;
    border-radius: 10px;
    box-shadow: none;
    height: 20px;
    overflow: hidden;
    width: 100%;

    &::-webkit-meter-inner-element {
      display: block;
    }

    &::-webkit-meter-bar {
      background: $silk-grey;
    }

    &::-webkit-meter-optimum-value {
      background: $component-color;
    }

    &::-moz-meter-bar {
      background: $component-color;
    }
  }
}
