////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-maas-forms
/// @since        0.0.3
////

/// Form element styles
/// @group Forms
@mixin maas-forms {

  form > *,
  form div > *,
  form fieldset > * {
    margin-bottom: 0;
  }

  form fieldset {
    border: 0;
    margin: 0;
  }

  input {
    &[type='text'],
    &[type='number'],
    &[type='search'],
    &[type='password'],
    &[type='email'],
    &[type='url'],
    &[type='tel'] {
      @extend %input-elements;
      box-shadow: none;
      padding: 4px 10px;
      width: 100%;

      &::placeholder {
        color: $color-mid-dark;
      }

      &[disabled] {
        background-color: $color-transparent;
        color: $color-mid-dark;
      }
    }

    &[type='number'] {
      padding-right: 15px;
    }

    &[type='search'] {
      appearance: textfield;

      &::-search-decoration,
      &::-search-cancel-button {
        appearance: none;
      }
    }

    &[type='checkbox'] {
      line-height: normal;
      margin: 4px 0 0;
      margin-top: 1px	9;
    }

    &[type='radio'],
    &[type='image'] {
      display: inline-block;
      margin-right: 10px;
    }
  }

  // Text area styles
  textarea {
    box-shadow: none;
    height: auto;
    min-height: 175px;
    padding: 7px 10px;
    width: 100%;

    &::placeholder {
      color: $color-mid-dark;
    }

    &[disabled] {
      background-color: $color-transparent;
      color: $color-mid-dark;
    }
  }

  // Select dropdown styles
  select {
    @extend %input-elements;
    appearance: none;
    background-color: $color-x-light;
    background-image: url('#{$asset-path}images/forms/chevron-down.svg');
    background-position: top 14px right 10px;
    background-repeat: no-repeat;
    box-shadow: none;
    clear: both;
    cursor: pointer;
    display: block;
    margin: 0;
    min-height: 0;
    padding: 8px 30px 8px 10px;
    text-indent: .01px;
    text-overflow: '';
    width: 100%;

    &[multiple],
    &[size] {
      background-image: none;
      height: auto;
      padding-top: 10px;
    }

    &[disabled] {
      background-color: $color-transparent;
      background-image: none;
      color: $color-mid-dark;
    }

    // Removes firefox dotted outline focusing
    //scss-lint: disable no-vendor-prefixes
    &:-moz-focusring {
      color: $color-transparent;
      text-shadow: 0 0 0 $black;
    }

    &::-ms-expand {
      display: none;
    }
    //scss-lint: enable no-vendor-prefixes
  }

  fieldset {
    background: none;
    margin-left: 0;
    padding: 0;
  }

  label {
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;
  }

  /// Base for label styling
  input[type='checkbox'] {
    &:not(:checked),
    &:checked {
      left: -9999px;
      position: absolute;
    }

    + label {
      cursor: pointer;
      height: auto;
      line-height: 34px;
      padding-left: 25px;
      position: relative;
      width: auto;

      &::before {
        background: $color-x-light;
        border: 1px solid $color-mid-light;
        border-radius: 2px;
        content: '';
        height: 16px;
        left: 0;
        position: absolute;
        top: 8px;
        width: 16px;
      }
    }

    &:checked {

      + label {

        &::before {
          background-color: $input-checked;
          border-color: $input-checked;
        }

        &::after {
          color: $color-x-light;
          content: '✔';
          font-size: 10px;
          left: 4px;
          line-height: 13px;
          position: absolute;
          top: 9px;
          transition: .2s;

          // scss-lint:disable no-vendor-prefixes
          @-moz-document url-prefix() {
            font-size: 13px;
            left: 1px;
          }
          // scss-lint:enable no-vendor-prefixes
        }
      }
    }

    &[disabled] {
      cursor: not-allowed;

      + label {
        cursor: not-allowed;

        &::before {
          opacity: .5;
        }
      }
    }
  }

  input[type='radio'] {
    &:not(:checked),
    &:checked {
      left: -9999px;
      position: absolute;
    }

    + label {
      cursor: pointer;
      padding-left: 25px;
      position: relative;
      width: auto;

      &::before {
        background: $color-x-light;
        border: 1px solid $color-mid-light;
        border-radius: 50%;
        content: '';
        height: 16px;
        left: 0;
        position: absolute;
        top: 3px;
        width: 16px;
      }
    }

    &:checked {

      + label {

        &::after {
          background: $input-checked;
          border-radius: 50%;
          content: '';
          height: 8px;
          left: 4px;
          position: absolute;
          top: 7px;
          width: 8px;
        }
      }
    }
  }

  .tags {
    width: 100%;

    .tag-list {
      margin: 0;
      width: 100%;

      .tag-item {
        display: inline-block;
        float: left;
        line-height: 36px;
        margin-bottom: 0;
        margin-right: 10px;
        word-wrap: break-word;
      }

      .remove-button {
        border-bottom: 0;
      }
    }

    .input {
      width: 100% !important;
    }
  }

  .onoffswitch {
    display: inline-block;
    margin: 0 0 4px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    width: 38px;

    &[disabled] {
      .onoffswitch-checkbox,
      .onoffswitch-label {
        opacity: .5;
        pointer-events: none;
      }
    }
  }

  .onoffswitch-external-label {
    display: inline-block;
    margin-left: 5px;
  }

  .onoffswitch-checkbox {
    display: none !important;
  }

  .onoffswitch-label {
    border-radius: 2px;
    cursor: pointer;
    display: block !important;
    margin: 0 !important;
    overflow: hidden;
    padding-left: 0 !important;

    &::before,
    &::after {
      display: none;
    }
  }

  .onoffswitch-inner {
    display: block;
    margin-left: -100%;
    transition: margin .3s ease-in 0s;
    width: 200%;

    &::before,
    &::after {
      box-sizing: border-box;
      color: $color-x-light;
      display: block;
      float: left;
      height: 18px;
      padding: 0;
      width: 50%;
    }

    &::before {
      background-color: $color-positive;
      color: $color-x-light;
      content: '';
      padding-left: 10px;
    }

    &::after {
      background-color: $color-light;
      color: $color-mid-dark;
      content: '';
      padding-right: 10px;
      text-align: right;
    }
  }

  .onoffswitch-switch {
    background: $color-x-light;
    border: 1px solid $color-mid-light;
    border-radius: 2px;
    bottom: 0;
    box-sizing: border-box;
    display: block;
    height: 18px;
    margin: 0;
    position: absolute;
    right: 19px;
    top: 0;
    transition: .3s ease-in 0s;
    width: 19px;
  }

  .onoffswitch-checkbox {

    &:checked {

      + .onoffswitch-label {

        .onoffswitch-inner {
          margin-left: 0;
        }

        .onoffswitch-switch {
          right: 0;
        }
      }
    }
  }
}
