////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-typography
/// @since        0.0.1
////

/// MAAS Typographic element styles
/// @group MAAS Typography
@mixin maas-typography {

  a {
    border-bottom: 1px solid $color-mid-dark;
    color: $color-dark;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: $color-primary-action;
      text-decoration: none;

    }
  }

  pre,
  code {
    direction: ltr;
    hyphens: none;
    tab-size: 4;
    text-align: left;
    white-space: pre-line;
    word-spacing: normal;
    word-wrap: break-word;
  }

  hr {
    margin-bottom: 20px;
  }
}
