/// Tooltips
@mixin maas-tooltips {
  .tooltip {
    position: relative;

    &::before {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $cool-grey;
      bottom: 100%;
      content: '';
      height: 0;
      left: 50%;
      margin-bottom: -11px;
      opacity: 0;
      position: absolute;
      transform: translateX(-50%) translateY(-14px);
      visibility: hidden;
      width: 0;
      z-index: -1;
    }

    &::after {
      background: $cool-grey;
      border-radius: 5px;
      bottom: 100%;
      box-shadow: 0 1px 3px 0 rgba(51, 51, 51, .2);
      box-sizing: border-box;
      color: $white;
      content: attr(aria-label);
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      height: auto;
      left: 50%;
      line-height: 16px;
      opacity: 0;
      padding: 10px;
      position: absolute;
      text-indent: 0;
      transform: translateX(-50%) translateY(-8px);
      visibility: hidden;
      white-space: pre;
      z-index: -1;
    }

    &:hover::after,
    &:hover::before,
    &:focus::after,
    &:focus::before {
      opacity: 1 !important;
      visibility: visible;
      z-index: 1000;

      @media only screen and (max-width: $breakpoint-medium) {
        display: none;
      }
    }

    &.tooltip--right {

      &::before {
        border-bottom: 5px solid transparent;
        border-right: 5px solid $cool-grey;
        border-top: 5px solid transparent;
        bottom: inherit;
        left: 100%;
        top: 50%;
        transform: translateX(4px) translateY(-50%);
      }

      &::after {
        bottom: inherit;
        left: 100%;
        margin-bottom: -14px;
        top: 50%;
        transform: translateX(14px) translateY(-50%);
      }
    }

    &.tooltip--bottom {

      &::before {
        border-bottom: 5px solid $cool-grey;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 0;
        bottom: inherit;
        left: 50%;
        top: 100%;
        transform: translateX(-50%) translateY(8px);
      }

      &::after {
        bottom: inherit;
        left: 50%;
        margin-bottom: 0;
        top: 100%;
        transform: translateX(-50%) translateY(13px);
      }
    }

    &.tooltip--left {

      &::before {
        border-bottom: 5px solid transparent;
        border-left: 5px solid $cool-grey;
        border-top: 5px solid transparent;
        bottom: inherit;
        left: -4px;
        top: 50%;
        transform: translateX(-100%) translateY(-50%);
      }

      &::after {
        bottom: inherit;
        left: -14px;
        margin-bottom: -14px;
        top: 50%;
        transform: translateX(-100%) translateY(-50%);
      }
    }
  }
}
