// Code block
@mixin maas-code-block {
  .code-block {
    background-color: $white;
    border: 1px solid $mid-grey;
    border-radius: .5em;
    color: $cool-grey;
    margin: .5em 0;
    overflow: auto;
    padding: 1em;

    .code-block__line {
      clear: both;
      float: left;
      margin: 0;
    }

    &.code-block--terminal {
      background-color: $cool-grey;
      border: 0;
      color: $white;
    }

    &.code-block--numbering {
      counter-reset: line-numbering;

      .code-block__line::before { // space after numbers
        content: counter(line-numbering);
        counter-increment: line-numbering;
        opacity: .5;
        padding-right: 1em;
        pointer-events: none;
        text-align: right;
        user-select: none;
        width: 1.5em;
      }
    }
  }
}
