/// Tags
@mixin maas-tags {
  .tags {
    width: 100%;

    .tag-list {
      width: 100%;
      margin: 0;

      .tag-item {
        display: inline-block;
        float: left;
        line-height: 36px;
        margin-bottom: 0;
        margin-right: 10px;
        word-wrap: break-word;

        .remove-button {
          border-bottom: 0;
        }
      }
    }

    .input {
      width: 100% !important;
    }
  }
}
