////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-forms
/// @since        0.0.3
////

/// Form layout element styles
/// @group Forms
@mixin maas-form-layouts {
  .form {

    .form__group {
      margin-bottom: 10px;

      .form__group-input {

        .form__group-remove {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          height: 16px;
          width: 16px;
          background: url('#{$asset-path}images/icons/remove.svg') no-repeat;
          background-size: 75% 75%;
          background-position: center;
          display: inline-block;
        }
      }

      .form__error {
        margin: 5px 0 0;
        color: $error;

        .form__error-item {
          margin: 7px 0;

          &::first-child {
            margin-top: 0;
          }
        }
      }

      &.form__group--subtle {

        .form__group-label {
          color: $warm-grey;
        }

        input,
        select,
        textarea {
          border-color: $mercury-grey;
          background-color: transparent;

          &:hover {
            border-color: $mid-grey;
            background-color: $white;
            outline: none;
          }

          &:active,
          &:focus {
            border-color: $warm-grey;
            background-color: $white;
            outline: none;
          }
        }
      }
    }

    .form__siblings {
      float: left;
      width: 100%;

      &:hover {

        .form__group--subtle {

          input,
          select,
          textarea {
            border-color: $mid-grey;
            background-color: $white;
            outline: none;
          }
        }
      }

      &.form__siblings--active {

        .form__group--subtle {

          input,
          select,
          textarea {
            border-color: $mid-grey;
            background-color: $white;
            outline: none;
          }
        }
      }
    }

    &.form--stack {

      .form__group {
        width: 100%;
        float: left;

        [class*='-col'] {
          margin-bottom: 0;
        }

        .form__group-label {
          margin-top: 0;
          margin-bottom: 0;
          line-height: 36px;
          vertical-align: top;
        }
      }
    }

    &.form--inline {

      .form__group {
        display: inline-block;
        margin: 0 20px 0 0;
        vertical-align: middle;

        input,
        select,
        .form__group-input {
          display: inline-block;
          width: auto;
          vertical-align: middle;
        }
      }
    }

    .form__help-text {
      @include font-size(14px);
      color: $warm-grey;
    }
  }
}
