/// Buttons
@mixin maas-buttons {
  // .button--primary {
  //   line-height: 20px;
  // }

  .button--secondary {
    @extend %button-pattern;
    @include focus($offset: 2px);
  }

  .button--secondary {
    color: $cool-grey;
    line-height: 18px;

    &:hover {
      border-bottom-color: $alto-grey;
      color: $cool-grey;
    }

    @media only screen and (max-width : $breakpoint-medium) {
      line-height: 28px;
    }
  }

  .button--destructive,
  .button--positive {
    @include focus($offset: 2px);

    &:hover {
      color: $white;
    }
  }

  .button--base,
  .button--neutral {
    @include focus($offset: 2px);

    &:hover {
      color: $cool-grey;
      border-bottom: 0;
    }
  }

  .button--large {
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  [class^="button--"] {

    @media only screen and (max-width : $breakpoint-medium) {
      margin-top: 0;

      + [class^="button--"] {
        margin-top: 10px;
      }
    }
  }

  .button--no-padding {
    height: initial;
    padding: 0;
  }
}



@mixin maas-button-group {
  .button-group {
    clear: both;
    min-width: 160px;
    position: relative;
    vertical-align: middle;
    width: 100%;

    @media only screen and (max-width : $breakpoint-medium) {
      width: 100%;
    }

    &.button-group--inline {
      display: inline-block;
      width: auto;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100%;
      }
    }

    .button-group__link {
      display: inline-block;
      float: left;
      padding-right: 35px;
      text-align: left;

      @media only screen and (max-width : $breakpoint-medium) {
        line-height: 30px;
      }

      &::after {
        border-bottom: 1px solid;
        border-right: 1px solid;
        content: '';
        display: inline-block;
        height: 4px;
        position: absolute;
        right: 15px;
        top: 15px;
        transform: rotate(45deg);
        vertical-align: middle;
        width: 4px;

        @media only screen and (max-width : $breakpoint-medium) {
          top: 18px;
        }
      }
    }

    .button-group__dropdown {
      background: $white;
      border-radius: 3px;
      border-top: 0;
      border: 1px solid $alto-grey;
      clear: both;
      left: 0;
      list-style: none;
      margin: 0;
      max-height: 1000px;
      min-width: 160px;
      position: absolute;
      top: 36px;
      transition: max-height .3s ease-in;
      width: 100%;
      z-index: 20;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100%;
        top: 48px;
      }
    }

    .button-group__item {
      clear: both;
      float: left;
      margin: 0;
      padding: 0 14px;
      text-align: left;
      width: 100%;

      .button-group__item-link {
        background-color: $transparent;
        border: 0;
        color: $cool-grey;
        cursor: pointer;
        float: left;
        margin: 0;
        padding: 0;
        text-align: left;
        text-transform: lowercase;
        text-transform: none;
        white-space: nowrap;
        width: 100%;

        &:first-letter {
          text-transform: uppercase;
        }

        &:hover {
          color: $link-hover;
          text-decoration: none;
        }
      }
    }
  }
  // scss-lint:enable SelectorFormat
}

%button-pattern {
  -webkit-appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 36px;
  line-height: 20px;
  padding: 8px 14px;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &[disabled],
  &.button--disabled {
    opacity: .5;
    pointer-events: none;
  }

  &.button--inline {
    display: inline-block;
    width: auto;

    @media only screen and (max-width : $breakpoint-medium) {
      width: 100%;
    }
  }

  @media only screen and (max-width : $breakpoint-medium) {
    height: 48px;
    line-height: 28px;
    width: 100%;
  }
}
