/// Forms
@mixin maas-form-layouts {
  .form {

    .form__group {
      margin-bottom: 10px;

      .form__group-input {
        position: relative;

        .form__group-remove {
          background: url('#{$asset-path}images/89c10794-remove.svg') no-repeat;
          background-position: center;
          background-size: 75% 75%;
          cursor: pointer;
          display: inline-block;
          height: 16px;
          position: absolute;
          right: 10px;
          top: 10px;
          width: 16px;
        }

        .icon {
          display: inline-block;
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }

      &.form__group--subtle {

        .form__group-label {
          color: $warm-grey;
        }

        input,
        select,
        textarea {
          background-color: transparent;
          border-color: $mercury-grey;

          &:hover {
            background-color: $white;
            border-color: $mid-grey;
          }

          &:active,
          &:focus {
            background-color: $white;
            border-color: $warm-grey;
          }
        }
      }
    }

    .form__fieldset {

      .form__group:last-of-type {
        margin-bottom: 0;
      }
    }

    .form__siblings {
      float: left;
      margin-bottom: 10px;
      width: 100%;

      &:hover {

        .form__group--subtle {

          input,
          select,
          textarea {
            background-color: $white;
            border-color: $mid-grey;
          }
        }
      }

      &.is-active {

        .form__group--subtle {

          input,
          select,
          textarea {
            background-color: $white;
            border-color: $mid-grey;
          }
        }
      }
    }

    &.form--stack {

      .form__group {
        float: left;
        width: 100%;

        [class*='-col'] {
          margin-bottom: 0;
        }

        .form__group-label {
          line-height: 34px;
          margin-bottom: 0;
          margin-top: 0;
          vertical-align: top;
        }

        .form__group-input {
          min-height: 34px;

          .onoffswitch {
            margin-top: 9px;
          }
        }
      }
    }

    &.form--inline {

      .form__fieldset {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        width: auto;

        @media only screen and (max-width: $breakpoint-medium) {
          display: block;
          width: 100%;
        }
      }

      .form__group {
        display: inline-block;
        margin: 0 20px 0 0;
        vertical-align: top;

        @media only screen and (max-width: $breakpoint-medium) {
          display: block;
          width: 100%;
        }

        .form__group-label {
          line-height: 34px;
          margin-bottom: 0;
          margin-right: 10px;
          vertical-align: top;

          @media only screen and (max-width: $breakpoint-medium) {
            display: block;
            width: 100%;
          }

          .icon--left {
            left: 0;
            position: absolute;
            top: 12px;
          }
        }

        input,
        select,
        .form__group-input {
          display: inline-block;
          min-height: 34px;
          width: auto;

          @media only screen and (max-width: $breakpoint-medium) {
            display: block;
            width: 100%;

            + input,
            + select,
            + .form__group-input {
              margin-top: 10px;
            }
          }
        }

        [type='checkbox'] + label,
        [type='radio'] + label {
          line-height: 34px;
        }

        .onoffswitch {
          margin: 10px 0;
        }

        .onoffswitch-external-label {
          line-height: 34px;
          margin: 0;
          vertical-align: middle;
        }
      }
    }

    .form__help-text {
      color: $warm-grey;
      @include font-size(14px);
    }
  }

  .form__error {
    color: $error;
    margin: 0;

    .form__error-item {
      margin: 6px 0;
    }
  }
}
