////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-forms
/// @since        0.0.1
////

/// Buttons element styles
/// @group Forms
@mixin maas-buttons {
  button,
  input[type='button'],
  input[type='reset'],
  input[type='submit'],
  .button--primary,
  .button--secondary {
    @extend %maas-button-style;

    &[disabled],
    &.disabled {
      color: $cool-grey;
      background-color: $gallery-grey;
      border: 1px solid $muted-grey;
      pointer-events: none;
    }
  }

  .button--text {
    @extend %maas-button-style;
    @include vf-button($cool-grey, $transparent, $transparent);
  }
}

%maas-button-style {
  line-height: #{$line-height-ratio};
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  padding: 8px 14px;
}
