/// Tables
@mixin maas-table {
  @include tables($alto-grey, $warm-grey, 16px, 13px);
  @include table-columns(100);
}

// sass-lint:disable class-name-format
@mixin tables($table-border-color, $table-header-color, $table-font-size, $table-header-size) {

  // sass-lint:disable NestingDepth

  // Here is the main placeholder styles for tables. All main elements can be
  // changed or amended here and will effect standard table markup / class based
  // div created tables.
  %table {
    border-collapse: separate;
    border-color: $table-border-color;
    border-spacing: 0;
    margin: 0 0 20px;
    max-width: $site-max-width;
    text-align: left;
    width: 100%;

    // Table row styles
    %table-row {
      border-bottom-style: dotted;
      border-bottom-width: 1px;
      border-color: rgb(178, 178, 178);
      width: 100%;

      @media only screen and (max-width: $breakpoint-medium) {
        background: $white;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        box-sizing: border-box;
        display: block;
        float: left;
        margin-bottom: 20px;
        padding: 0 10px;
        width: 100%;
      }
    }

    // Table cell styles
    %table-cell {
      @include font-size($table-font-size);
      backface-visibility: hidden;
      background: none;
      border-collapse: separate;
      border: 0;
      box-sizing: border-box;
      min-height: 21px;
      padding: 10px;
      position: relative;
      text-align: left;
      vertical-align: top;

      > input {

        &[type='checkbox'] {

          + label {
            margin: 0;
            min-height: 16px;

            &::before {
              top: -2px;
            }
          }
        }

        &[type='radio'] {

          + label {
            margin: 0;
            min-height: 16px;

            &::before {
              top: 0;
            }

            &:hover {

              &::after {
                top: 4px;
              }
            }
          }

          &:checked {

            + label {

              &::after {
                top: 3px;
              }
            }
          }
        }
      }

      .onoffswitch {
        margin: 0;
      }

      @media only screen and (max-width: $breakpoint-medium) {
        border-bottom: 0 !important;
        border-top: 0;
        box-sizing: border-box;
        display: block;
        margin: 0;
        min-height: 45px;
        padding-left: 50%;
        position: relative;
        text-align: right;
        width: 100% !important;

        label,
        dl,
        dt,
        p {
          text-align: left;
        }

        &:first-child {
          border-top: 0;
        }

        &::before {
          color: $warm-grey;
          content: attr(aria-label);
          display: block;
          font-size: 16px;
          height: 100%;
          left: 10px;
          position: absolute;
          text-align: left !important;
          top: 10px;
          width: 50%;
        }

        &.table--mobile-controls {
          padding-left: 10px;
          text-align: center !important;
          width: 100% !important;

          @media only screen and (max-width: $breakpoint-medium) {
            &::before {
              display: none;
            }
          }
        }
      }
    }

    // Table header row styles
    %table-header-row {
      border-bottom: 1px solid;
      color: $table-header-color;
      width: auto !important;

      &:hover {
        background-color: transparent;
      }

      @media only screen and (max-width: $breakpoint-medium) {
        border: 0;
        display: block;
        width: 100%;

        &:hover {
          background-color: $white;
        }
      }

      &.table__head--sticky {
        background: $white;
        border-top: 1px dotted $outline;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        height: auto !important;
        left: 0 !important;
        padding: 0;
        right: 0 !important;
        width: 100vw !important;

        tr th {
          float: none;
        }
      }
    }

    // Table header cell styles
    %table-header {
      @include font-size($table-header-size);
      background: none;
      color: $table-header-color;
      display: table-cell;
      font-size: 13px;

      @media only screen and (max-width: $breakpoint-medium) {
        display: none;
        width: 100%;

        &::before {
          color: $cool-grey;
          content: attr(aria-label);
          display: block;
          font-size: 16px;
          font-weight: 300;
          height: 100%;
          left: 10px;
          position: absolute;
          text-align: left !important;
          top: 10px;
          width: 50%;
        }

        &.u-display--block-mobile {
          border-bottom: 0;
          display: block;
          text-align: right;
        }
      }

      input {

        &[type="radio"],
        &[type="checkbox"] {

          + label {
            margin: 0;
            min-height: 16px;
            top: 0;

            &::before {
              top: 0;

              @media only screen and (max-width: $breakpoint-medium) {
                top: 2px;
              }
            }
          }
        }

        &[type="checkbox"]:checked + label:after {
          top: 0;
        }

        &[type="radio"]:checked + label:after {
          top: 3px;
        }
      }
    }

    // Table header hyperlink styles
    %table-header-link {
      border-bottom: 0;
      color: $table-header-color;

      &:hover {
        color: $text-color;
        text-decoration: none;
      }

      // Sorting and active styles when filtering a table
      &.is-active {
        color: $text-color;
        text-decoration: none;
      }

      &.is-sorted {
        border-bottom: 1px solid $text-color;
      }
    }

    // Table divide is used for multiple table header options
    %table-divide {
      background: $table-header-color;
      display: inline-block;
      height: 10px;
      margin: 0 5px;
      width: 1px;
    }

    .numerical {
      text-align: right;
    }
  }

  // Generic table styles, this is to be used for simple display of data which
  // doesn't reqire dropdowns or form input interaction. Example would be a
  // listing of machines or generic report information.
  //
  // @example
  // <table>
  //   <thead>
  //     <tr>
  //       <th>...</th>
  //       ...
  //     </tr>
  //   </thead>
  //   <tfoot>
  //     <tr>
  //       <td>...</td>
  //       ...
  //     </tr>
  //   </tfoot>
  //   <tbody>
  //     <tr>
  //       <td>...</td>
  //       ...
  //     </tr>
  //   </tbody>
  // </table>
  table {
    @extend %table;

    tr {
      @extend %table-row;
    }

    th,
    td {
      @extend %table-cell;
    }

    th {
      border-bottom: 1px solid;
      color: $table-header-color;
    }

    td {
      border-bottom-style: dotted;
      border-bottom-width: 1px;
      border-color: rgb(178, 178, 178);

      a:link,
      a:visited {
        color: $text-color;
        font-weight: 400;

        &:hover {
          color: $link-hover;
          text-decoration: none;
        }
      }
    }

    thead {
      display: table-header-group;
      width: 100%;

      @media screen and (min-width: $breakpoint-medium + 1) {
        display: table-header-group !important;
      }

      @media only screen and (max-width: $breakpoint-medium) {
        display: block;
        width: 100%;
      }

      tr {
        @extend %table-header-row;
      }

      th {
        @extend %table-header;

        a:link,
        a:visited {
          @extend %table-header-link;
        }
      }

      &.table__head--sticky {
        background: $white;
        height: auto;
        left: 0 !important;
        padding: 0;
        right: 0 !important;
        width: 100vw !important;

        tr {
          border-bottom: 0;
          display: block;
          float: none;
          margin: 0 auto;
          max-width: $site-max-width;
          overflow: hidden;
          width: 100%;

          th {
            border-bottom: 0;
            float: left;
          }
        }
      }

      .divide {
        @extend %table-divide;
      }
    }

    tbody {

      @media only screen and (max-width: $breakpoint-medium) {
        width: 100%;
        display: block;
      }
    }
  }

  // Table styles used to replicate the table layout but where extra interaction
  // can not be created using standard table elements. This includes in table
  // form editing, dropdown elements and layouts not possibile using tables.
  //
  // @example
  // <div class="table">
  //   <header class="table__head">
  //     <div class="table__row">
  //       <div class="table__header">...</div>
  //       ...
  //     </div>
  //   </div>
  //   <footer class="table__footer">
  //     <div class="table__row">
  //       <div class="table__data>...</div>
  //       ...
  //     </div>
  //   </footer>
  //   <section class="table__body">
  //     <div class="table__row">
  //       <div class="table__data>...</div>
  //       ...
  //     </div>
  //   </section>
  // </div>
  .table {
    @extend %table;
    display: table;

    @media only screen and (max-width: $breakpoint-medium) {
      display: block;
    }

    // Table row style
    .table__row {
      @extend %table-row;
      display: table-row;
      float: left;

      // Table row hover style, this can reveal control elements
      &:hover {
        background-color: $transparent;

        // Set controls z-index and opacity so it is visible
        .table__controls {
          opacity: 1;
          z-index: 1;

          &--secondary {
            opacity: 1;
            z-index: 1;
          }
        }
      }

      .table__controls {
        display: inline-block;
        opacity: 1;
        z-index: 0;

        @media screen and (max-width: $breakpoint-medium) {
          width: 100%;
        }

        &-toggle {
          background-color: $transparent;
          background-image: url('#{$asset-path}images/b0b97dfc-contextual-menu.svg');
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 2px;
          display: inline-block;
          height: 21px;
          overflow: hidden;
          padding: 0;
          text-indent: -9999px;
          width: 30px;

          @media screen and (max-width: $breakpoint-medium) {
            display: none;
          }
        }

        &-menu {
          background: $white;
          border-radius: 3px;
          border: 1px solid $outline;
          clear: both;
          list-style: none;
          margin: 0;
          max-height: 1000px;
          min-width: 160px;
          position: absolute;
          right: 0;
          top: 33px;
          transition: max-height .3s ease-in;
          z-index: 20;

          @media screen and (max-width: $breakpoint-medium) {
            border: 0;
            display: block !important;
            max-height: initial;
            min-width: 100%;
            position: relative;
            top: initial;
            z-index: 0;
          }
        }

        &-action {
          background: $transparent;
          border-radius: 0;
          color: $text-color;
          text-align: left;

          &:hover {
            color: $link-hover;
          }

          @media screen and (min-width: $breakpoint-medium + 1) {
            &.u-text--error {
              border-top: 1px dotted $silk-grey;
              margin-top: 5px;
            }
          }

          @media screen and (max-width: $breakpoint-medium) {
            border: 1px solid $silk-grey;
            text-align: center;
            width: 100%;

            + * {
              margin-top: 10px;
            }

            &:hover {
              background-color: $outline;
              color: $text-color;
            }
          }
        }
      }

      // Active state on .table__row
      &.is-active {
        background-color: $white;

        &:hover {
          background-color: $white;
        }

        .table__controls {
          opacity: 1;
          z-index: 1;

          &--secondary {
            opacity: 1;
            z-index: 1;
          }
        }

        .table__dropdown {

          .table__row {
            display: none;

            &.is-active {
              display: block;
            }
          }
        }
      }
    }

    .table__header,
    .table__data {
      @extend %table-cell;
      display: table-cell;
      float: left;
    }

    .table__data {

      @media only screen and (max-width: $breakpoint-medium) {
        border-bottom-style: dotted;
        border-bottom-width: 1px;
        border-color: rgb(178, 178, 178);
        padding-left: 50%;
      }

      a:link,
      a:visited {
        color: $text-color;
        font-weight: 400;

        &:hover {
          text-decoration: none;
          color: $link-hover;
        }
      }
    }

    .table__head {
      box-sizing: border-box;
      display: table-head;
      width: auto;

      &.table__head--sticky {
        background: $white;
        border-top: 1px dotted $alto-grey;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        height: auto !important;
        left: 0 !important;
        padding: 0;
        right: 0 !important;
        width: 100vw !important;

        .table__row {
          border-bottom: 0;
          display: block;
          float: none;
          margin: 0 auto;
          max-width: $site-max-width;
          overflow: hidden;
          width: 100%;
        }
      }

      .table__row {
        @extend %table-header-row;
      }

      .table__header {
        @extend %table-header;

        .table__header-link {
          @extend %table-header-link;
        }
      }

      .table__header-divide,
      .divide {
        @extend %table-divide;
      }
    }

    .table__body {
      display: table-row-group;
      float: left;
      max-width: $site-max-width;
      width: 100%;
    }

    .table__footer {
      display: table-footer-group;
      float: left;
      max-width: $site-max-width;
      width: 100%;
    }

    // Table label style used as secondary information with in a table cell. Can
    // also be used as a toggle.
    //
    // @example
    // <div class="table__data">
    //    ...
    //    <span class="table__label">
    //        <a href="#">Show more</a>
    //    </span>
    // </div>
    //
    // <div class="table__data active">
    //     ...
    //     <span class="table__label">
    //         <a href="#">Hide</a>
    //     </span>
    // </div>
    .table__label {
      clear: both;
      color: $pale-grey;
      display: block;
      line-height: 16px;
      margin-top: 5px;

      a {
        color: $pale-grey;

        &:hover {
          color: $link-color;
        }
      }

      &.is-active {

        a {
          color: $link-color;
        }
      }
    }

    // Table contol container, hidden unless hovered on the table row. Will have
    // action controls which can effect the parent table row or other actions.
    //
    // @example
    // <div class="table">
    //     <div class="table__row">
    //         <div class="table__data">
    //             ...
    //         </div>
    //         <div class="table__data">
    //             <div class="table__controls">
    //                 <a href="#">Delete</a>
    //                 <a href="#">Save</a>
    //             </div>
    //         </div>
    //     </div>
    // </div>
    .table__controls {
      opacity: 0;
      text-align: right;
      width: 100%;
      z-index: -1000;

      @media only screen and (max-width: $breakpoint-medium) {
        opacity: 1;
        text-align: center;
        z-index: 1;

        .icon {
          margin: 20px !important;
          transform: scale(1.5, 1.5);
        }
      }

      &--secondary {
        opacity: 0;
        text-align: left;
        width: auto;
        z-index: -1000;

        @media only screen and (max-width: $breakpoint-medium) {
          opacity: 1;
          text-align: center;
          z-index: 1;
        }
      }

      a,
      a:link,
      a:visited {
        border-bottom: 1px solid $link-border;
        color: $text-color;

        &:hover {
          color: $link-hover;
          text-decoration: none;
        }
      }
    }

    // Table input styles act in a similar way to table controls. They are only
    // active on hover. This style can effect input boxes or select boxes.
    //
    // @example
    // <div class="table">
    //     <div class="table__row">
    //         <div class="table__data">
    //             ...
    //         </div>
    //         <div class="table__data">
    //             <input type="text" class="table__input" placeholder="Enter text...">
    //         </div>
    //     </div>
    // </div>
    .table__input {
      background-color: $white;
      background-position: right 10px top 16px;
      border-color: $alto-grey;
      display: inline-block;
      margin: -7px 0;

      &[disabled] {
        background-color: transparent;
        background-position: -9999px -9999px;
        border-color: transparent;
        color: $text-color;
        pointer-events: none;
      }
    }

    // Table dropdowns are used for extra condenced information and to expand
    // form elements. The class .table__dropdown must be within a .table__row and
    // acts as a container.
    //
    // @example
    // <div class="table">
    //     <div class="table__row active">
    //         <div class="table__data">
    //             ...
    //         </div>
    //         <div class="table__data">
    //             ...
    //         </div>
    //         <div class="table__dropdown">
    //             <div class="table__row table__dropdown-row">
    //                 <div class="table__data">
    //                     ...
    //                 </div>
    //                 <div class="table__data">
    //                     ...
    //                 </div>
    //                 <div class="table__data">
    //                     ...
    //                 </div>
    //             </div>
    //         </div>
    //     </div>
    // </div>
    .table__dropdown {
      width: 100%;

      @media only screen and (max-width: $breakpoint-medium) {
        background: $white;
        border: 0;
        bottom: 0;
        box-sizing: border-box;
        left: 0;
        overflow-y: scroll;
        padding-bottom: 10px;
        padding-top: 74px;
        position: fixed;
        right: 0;
        top: 0;
        width: 100% !important;
        z-index: 1000;
      }

      .table__dropdown-title {
        display: none;

        @media only screen and (max-width: $breakpoint-medium) {
          background: $white;
          box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
          display: block;
          float: left;
          margin: 0;
          padding: 15px 10px;
          position: fixed;
          top: 0;
          width: 100%;
          z-index: 10;

          > h2 {
            margin: 0;
          }
        }
      }

      // Table dropdown row style, add class to .table__row
      .table__row {
        border-bottom: 0;
        display: none;
        position: relative;

        @media only screen and (max-width: $breakpoint-medium) {
          box-shadow: none;
        }

        &--indent {
          box-sizing: border-box;
          float: left;
          padding-left: 41px;
          width: 100%;

          @media only screen and (max-width: $breakpoint-medium) {
            padding-left: 0;
          }
        }

        &::before {
          border-top: 1px dotted $alto-grey;
          content: '';
          display: block;
          height: 1px;
          left: 10px;
          margin: 0 auto;
          position: absolute;
          top: 0;
          width: calc(100% - 20px);
        }

        // Table dropdown header row removes border styling from .table__row
        &.table__row--head {
          border-bottom: 0;

          .table__header {
            color: $pale-grey;
            font-size: 13px;
          }
        }

        // If no borders are required, removes all borders and before elements
        &.u-border--none {

          &::before {
            display: none;
          }
        }

        &.u-border {

          &::before {
            border-top: 1px dotted $alto-grey;
            content: '';
            display: block;
            height: 1px;
            left: 10px;
            margin: 0 auto;
            position: absolute;
            top: 0;
            width: calc(100% - 20px);
          }
        }

        &.is-active {

          @media only screen and (max-width: $breakpoint-medium) {
            display: block;
            padding: 0 !important;
          }

          .table__data {

            @media only screen and (max-width: $breakpoint-medium) {
              border-top: 0;
              padding: 10px 10px 0;

              &::before {
                display: none;
              }

              .six-col {
                margin-bottom: 10px;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }

            &--children {
              @media only screen and (max-width: $breakpoint-medium) {
                border-top: 1px dotted $outline;
                padding: 10px 10px 10px 50% !important;

                &::before {
                  display: block;
                }
              }
            }
          }

          .table__input {
            background-color: $white;
            background-position: right 10px top 16px;
            border-color: $alto-grey;
            pointer-events: all;

            &[disabled] {
              cursor: pointer;
            }
          }

          @media only screen and (max-width: $breakpoint-medium) {
            margin-bottom: 0;

            &::before {
              display: none;
            }

            &.table__dropdown-controls {

              @media only screen and (max-width: $breakpoint-medium) {
                bottom: 0 !important;
                height: auto !important;
                margin: 0;
                padding-bottom: 0;
                top: inherit !important;
                z-index: 2000;

                [class^="button--"] {
                  float: left;
                  height: auto;
                  line-height: 1.5;
                  margin: 0 1%;
                  overflow: hidden;
                  white-space: normal;
                  width: 48%;

                  + [class^="button--"] {
                    float: left;
                    margin: 0 1%;
                    width: 48%;
                  }
                }

                &.u-position--top {
                  top: 20px;
                }

                &.u-remove--shadow {
                  box-shadow: none !important;
                }

                .table__data {
                  min-height: auto;

                  &::before {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      // .table__dropdown--info Information style dropdown sets all colours
      // styles to pale to inform users this is not an interactive table
      &--info {

        .table__row {
          border-bottom: 0;
        }

        .table__data {
          color: $pale-grey;
        }
      }
    }

    [class*="-col"] {
      margin-bottom: 0;
    }
  }

  .form {

    .form__group {

      input,
      select {
        margin: 0;
      }
    }
  }

  $states: (
    error: $error,
    warning: $warning,
    success: $success,
    information: $information
  );

  @each $state, $color in $states {
    .table--#{$state} {
      border-color: $color;

      @media only screen and (max-width: $breakpoint-medium) {
        background-color: rgba($color, .2);
      }

      .table__header,
      .table__data,
      th,
      td {
        background-color: rgba($color, .2);
        border-color: $color;
      }
    }
  }
  // sass-lint:enable NestingDepth
}

// Generates column classes use for tables
// the column class generated will look like '.table__column--1'
// Number value at the end signifies the width percentage
@mixin table-columns($table-columns) {

  @for $i from 1 through $table-columns {
    .table-col--#{$i} {
      width: percentage($i / 100);
    }
  }
}
