////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-forms
/// @since        0.0.1
////

/// Buttons element styles
/// @group Forms
@mixin maas-buttons {
  .button--primary,
  .button--secondary {
    @extend %button-pattern;
  }
}

%button-pattern {
  line-height: #{$line-height-ratio};
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  padding: 8px 14px;

  &:disabled,
  &.button--disabled {
    pointer-events: none;
  }

  &.button--inline {
    display: inline-block;
    width: auto;
  }
}
