/// Tabs
@mixin maas-tabs {
  .tabs {
    display: inline-block;

    @media only screen and (max-width : $breakpoint-medium) {
      margin: 0 0 20px;
      width: 100%;
    }

    .tabs__tab {
      @include font-size(18px);
      display: inline-block;
      list-style-type: none;
      margin: 0;

      .tabs__tab-link {
        color: $warm-grey;
        text-decoration: none;
        display: inline-block;
        width: initial;
        padding: 0;
        background-color: $transparent;
        box-sizing: border-box;
        border-radius: 0;
        border-bottom: 3px solid $transparent;
      }

      &:hover .tabs__tab-link {
        border-bottom: 3px solid $warm-grey;
      }

      &:after {
        content: '';
        width: 1px;
        display: inline-block;
        background: $outline;
        height: 11px;
        padding: 0;
        margin: 0 5px;
      }

      &:last-child::after {
        display: none;
      }
    }

    .is-active {

      .tabs__tab-link,
      &:hover .tabs__tab-link {
        border-bottom: 3px solid $tab-active-state;
      }
    }
  }
}
