/// Tabs
@mixin maas-tabs {
  .tabs {
    display: inline-block;

    @media only screen and (max-width : $breakpoint-medium) {
      margin: 0 0 20px;
      width: 100%;
    }

    .tabs__tab {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      @include font-size(18px);

      .tabs__tab-link {
        background-color: $transparent;
        border-bottom: 3px solid $transparent;
        border-radius: 0;
        box-sizing: border-box;
        color: $warm-grey;
        display: inline-block;
        padding: 0;
        text-decoration: none;
        width: initial;
      }

      &:hover .tabs__tab-link {
        border-bottom: 3px solid $warm-grey;
      }

      &:after {
        background: $outline;
        content: '';
        display: inline-block;
        height: 11px;
        margin: 0 5px;
        padding: 0;
        width: 1px;
      }

      &:last-child::after {
        display: none;
      }
    }

    .is-active {

      .tabs__tab-link,
      &:hover .tabs__tab-link {
        border-bottom: 3px solid $tab-active-state;
      }
    }
  }
}
