/// Notifications
@mixin maas-notifications {
  @include notifications-default;
  @include notifications-success;
  @include notifications-warning;
  @include notifications-error;
  @include notifications-signal;
}

// The placeholder for basic notification styling
%notification {
  background-color: $white;
  border: 0;
  border-color: $warm-grey;
  border-radius: .125rem;
  border-style: solid;
  border-top-width: 3px;
  box-shadow: 0 1px 5px 1px rgba($cool-grey, .2);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  padding: .625rem;
  text-align: center;
  width: 100%;
}

// Default notification styling
@mixin notifications-default {
  .p-notification {
    @extend %notification;

    &__response {
      color: $text-color;
      height: initial;
      margin: 0;
      padding: 0;
      text-align: left;
      background: {
        color: $transparent;
        position: left center;
        repeat: no-repeat;
        size: 16px 16px;
      }

      &:hover {
        background-color: $transparent;
      }

      &:focus {
        outline: 1px solid $color-focus;
        outline-offset: 2px;
      }

      .button--inline {
        vertical-align: initial;
      }
    }

    &__status {
      font-weight: 400;
      margin-right: .3125rem;
    }

    &__action {
      border-bottom: 0;
      margin-left: .3125rem;
    }

    //
    // Notificaation grup style, used for multiple notifications.
    //
    &--group {

      // Removes the background image used for error, warning and success
      // notifications.
      .p-notification__response {
        background-image: none !important;
        cursor: pointer;
        padding-left: 0 !important;
      }

      .p-notification__status {

        // Pulls in data-count content to show the response count.
        &::before {
          background-color: $warm-grey;
          border-radius: 50%;
          box-sizing: border-box;
          content: attr(data-count);
          display: inline-block;
          line-height: 24px;
          margin-right: 5px;
          max-height: 24px;
          max-width: 24px;
          text-align: center;
          width: 100%;
        }

        .icon--open {
          margin-left: 5px;
        }
      }

      .p-notification__list {
        display: none;
        list-style-type: none;
        margin: 0;
        padding-top: 10px;

        // Set this class with JS to show/hide the notification list
        &.is-open {
          display: block;
        }
      }

      .p-notification__item {
        border-top: 1px solid $outline;
        margin: 0;
        padding: 10px 0 15px;
        position: relative;
        text-align: left;
        width: 100%;

        .p-notification__msg {
          box-sizing: border-box;
          margin: 0;
          padding-right: 40px;

          .button--inline {
            vertical-align: initial;
          }
        }

        .p-notification__date {
          bottom: 15px;
          color: $pale-grey;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

// Positive notification styling
@mixin notifications-success {
  .p-notification--success {
    border-color: $success;
    @extend %notification;

    .p-notification__response {
      background-image: url('#{$asset-path}images/89c6b797-success.svg');
      padding-left: 1.5rem;
    }

    // Notification group color overrides
    &.p-notification--group {

      .p-notification__status {

        &::before {
          background-color: $success;
          color: $white;
        }
      }
    }
  }
}

// Warning notification styling
@mixin notifications-warning {
  .p-notification--warning {
    border-color: $warning;
    @extend %notification;

    .p-notification__response {
      background-image: url('#{$asset-path}images/5777c0c7-warning.svg');
      padding-left: 1.5rem;
    }

    // Notification group color overrides
    &.p-notification--group {

      .p-notification__status {

        &::before {
          background-color: $warning;
        }
      }
    }
  }
}

// Negative notification styling
@mixin notifications-error {
  .p-notification--error {
    border-color: $error;
    @extend %notification;

    .p-notification__response {
      background-image: url('#{$asset-path}images/d730daea-error.svg');
      padding-left: 1.5rem;
    }

    // Notification group color overrides
    &.p-notification--group {

      .p-notification__status {

        &::before {
          background-color: $error;
          color: $white;
        }
      }
    }
  }
}

@mixin notifications-signal {
  .p-notification-signal {
    background-color: $white;
    border-radius: 12px;
    box-sizing: border-box;
    display: inline-block;
    margin: 12px 0;
    padding: 0 10px;
    vertical-align: middle;

    + * {
      margin-left: 20px !important;
    }

    @media screen and (max-width: $breakpoint-medium) {
      margin-right: 50px;
    }

    &__link {
      color: $cool-grey;

      &:hover {
        border-bottom: 0;
      }
    }
  }
}
