/// Display
@mixin maas-display {
  .u-align {

    @media only screen and (min-width : $breakpoint-min-medium) {
      &--right {
        text-align: right !important;
      }

      &--left {
        text-align: left !important;
      }

      &--center {
        text-align: center !important;
      }
    }

    &--left-mobile {
      text-align: left !important;
    }
  }

  .u-position {

    &--relative {
      position: relative !important;
    }

    &--fixed {
      position: fixed !important;
    }

    &--absolute {
      position: absolute !important;
    }
  }

  .u-float {

    &--right {
      float: right !important;
    }

    &--left {
      float: left !important;
    }

    &--none {
      float: none !important;
    }
  }

  .u-muted {
    filter: alpha(opacity = 50) !important;
    opacity: .5 !important;
  }

  .u-clear {
    clear: both !important;
  }

  .u-visibility--hidden {
    visibility: hidden !important;
  }

  .u-display {

    &--block {
      display: block !important;

      @media only screen and (max-width : $breakpoint-medium) {
        &-mobile {
          display: block !important;
        }
      }
    }

    &--inline {
      display: inline !important;
    }

    &--inline-block {
      display: inline-block !important;
    }

    &--hidden {
      display: none !important;
    }

    &--desktop {

      @media only screen and (max-width : $breakpoint-medium) {
        height: 0;
        overflow: hidden;
        position: absolute !important;
        visibility: hidden !important;
        width: 0;
      }
    }

    &--mobile {

      @media only screen and (min-width : $breakpoint-min-medium) {
        height: 0;
        overflow: hidden;
        position: absolute !important;
        visibility: hidden !important;
        width: 0;
      }
    }
  }

  .u-width {

    &--full {
      box-sizing: border-box;
      float: left;
      width: 100% !important;
    }

    &--half {
      box-sizing: border-box;
      float: left;
      width: 50% !important;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100% !important;
      }
    }

    &--third {
      box-sizing: border-box;
      float: left;
      width: calc(100%/3) !important;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100% !important;
      }
    }

    &--two-thirds {
      box-sizing: border-box;
      float: left;
      width: 66.66666%!important;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100% !important;
      }
    }

    &--quarter {
      box-sizing: border-box;
      float: left;
      width: 25% !important;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100% !important;
      }
    }
  }

  .u-scroll {

    &--none {
      overflow: hidden;
    }
  }

  .u-mobile {

    &--offscreen {
      display: none !important;
      left: -100vw;
    }
  }

  .u-upper-case {

    &--first {
      text-transform: capitalize;
    }
  }

  .u-text--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  //
  // Writespace pre-wrapping for terminal output. This is important in order
  // to preserve the original indentation when viewing commissioning script
  // or testing results.
  //
  .u-whitespace--prewrap {
    white-space: pre-wrap !important;
  }
}
