////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-display
/// @since        0.0.1
////

/// Display
/// @group Display
@mixin maas-display {
  .u-align {

    &--right {
      text-align: right;
    }

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }
  }

  // scss-lint:disable ImportantRule
  .u-float {

    &--right {
      float: right !important;
    }

    &--left {
      float: left !important;
    }

    &--none {
      float: none !important;
    }
  }

  .u-muted {
    opacity: .5;
    filter: alpha(opacity = 50);
  }

  .u-clear {
    clear: both;
  }

  .u-display {

    &--block {
      display: block !important;
    }

    &--inline {
      display: inline !important;
    }

    &--inline-block {
      display: inline-block !important;
    }

    &--hidden {
      display: none !important;
    }
  }
  // scss-lint:enable ImportantRule
}
