////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-borders
/// @since        0.0.1
////

/// Borders
/// @group Borders
@mixin maas-borders($border-color: $warm-grey, $border-width: 1px) {
  .u-border {
    border-color: $border-color !important;
    border: $border-width dotted !important;

    &--top {
      border-top: $border-width dotted !important;
    }

    &--right {
      border-right: $border-width dotted !important;
    }

    &--bottom {
      border-bottom: $border-width dotted !important;
    }

    &--left {
      border-left: $border-width dotted !important;
    }

    &--dotted {
      border-style: dotted !important;
    }

    &--solid {
      border-style: solid !important;
    }

    &--dashed {
      border-style: dashed !important;
    }
  }
}
