////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-forms
/// @since        0.0.3
////

/// Display
/// @group Display
@mixin maas-display {
  // scss-lint:disable ImportantRule
  .u-align {

    &--right {
      text-align: right;
    }

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }
  }

  .u-float {

    &--right {
      float: right !important;
    }

    &--left {
      float: left !important;
    }

    &--none {
      float: none !important;
    }
  }

  .u-muted {
    opacity: .5 !important;
    filter: alpha(opacity = 50) !important;
  }

  .u-clear {
    clear: both;
  }

  .u-hidden {
    display: none !important;
  }
  // scss-lint:enable ImportantRule
}
