/// Wrapper
@mixin maas-wrapper {
  .wrapper {
    // scss-lint:disable DuplicateProperty
    height: initial !important; // This line and the next line are not necessary unless you need IE6 support
    height: 100%;
    // scss-lint:enable DuplicateProperty
    margin: 0 auto;
    min-height: initial;
    position: relative;

    &--inner {
      clear: both;
      display: block;
      margin: 0 auto;
      max-width: $site-max-width;
      width: 100%;

      @media only screen and (max-width : $breakpoint-medium) {
        float: left;
        width: 100%;
      }
    }

    &--sticky {
      display: block !important;
      float: left;
      overflow: visible;
      width: 100% !important;
    }

    &--flex {
      display: flex;
      flex-direction: column;
      height: 100%;

      &-header {
        flex: 0 0 auto;
      }

      &-content {
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative; // need this to position inner content
      }
    }
  }
}
