////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-row
/// @since        0.0.1
////

/// MAAS row styling
/// @group maas row
@mixin maas-row {

  .row {
    background-color: $color-transparent;
    border-top: 1px dotted $color-mid-light;
    max-width: none;
    padding: 60px 0 40px;

    &:first-of-type {
      border-top: 0;
    }

    @media (max-width: $breakpoint-medium) {
      padding: 20px;
    }
  }
}
