////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-header
/// @since        0.0.3
////

/// MAAS row styling
/// @group maas row
@mixin maas-wrapper {
  // scss-lint:disable DuplicateProperty
  .wrapper {
    min-height: 100%;
    // scss-lint:disable ImportantRule
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    // scss-lint:enable ImportantRule
    height: 100%;
    margin: 0 auto;
    position: relative;
    background: rgba($white, .6);

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url('#{$asset-path}images/backgrounds/background-paper.png');
      height: 100%;
      width: 100%;
      z-index: -1;
    }
  }

  &--inner {
    max-width: $site-max-width;
  }
  // scss-lint:enable DuplicateProperty
}
