////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-page-header
/// @since        0.0.1
////

/// MAAS Page header
/// @group maas page header
@mixin maas-page-header {

  .p-page-header {
    background: $white;
    box-shadow: 0 1px 1px $color-border-shadow;
    box-sizing: border-box;
    float: left;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;

    .p-page-header__title {
      @include font-size($h1);
      display: inline-block;
      margin: 0;
      padding: 34px 0;

      [contenteditable="true"] {
        @include font-size($h1);
        border: 1px solid $color-transparent;
        border-radius: 2px;
        box-sizing: border-box;
        color: $cool-grey;
        cursor: default;
        display: inline-block;
        margin: -20px 0 -20px -10px;
        padding: 8px 10px;
        width: auto;

        &.editmode,
        &.editable:hover {
          border: 1px solid $outline;
          cursor: text;
        }

        &.editmode:hover,
        &:active,
        &:focus {
          background-color: $white;
          border: 1px solid $muted-grey;
          outline: none;
        }

        &.invalid,
        &.invalid:hover,
        &.invalid:active,
        &.invalid:focus {
          border-color: $error;
        }
      }

      .p-page-header__title-dot {
        display: inline-block;
        padding: 0;
        width: auto;
      }

      .p-page-header__title-domain {
        @include font-size($h1);
        background-position: top 32px right 10px;
        display: inline-block;
        line-height: 25px;
        margin: -20px 0;
        max-height: 66px;
        min-height: 66px;
        padding: 13px 10px !important;
        width: auto;
      }
    }

    .p-page-header__status {
      @include font-size(19px);
      color: $color-mid-dark;
      display: inline-block;
      margin-left: 20px;
      position: relative;
      width: auto;

      .p-page-header__status-check {
        @include font-size(16px);
        border: 0;
        color: inherit;
        margin-left: 10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .p-page-header__controls {
      display: inline-block;
      float: right;
      padding: 40px 0;

      .p-page-header__controls-feedback {
        border-bottom: 1px solid $link-border;
        color: $cool-grey;
        text-decoration: none;

        &:hover {
          color: $link-hover;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }

    .p-page-header__dropdown {
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s ease;
      width: 100%;

      &.is-open {
        max-height: 1000px;
      }

      .p-page-header__section {
        border-top: 1px dotted $color-mid-dark;
        padding-bottom: 20px;
        padding-top: 20px;
      }

      .p-page-header__message {
        display: inline-block;
        float: none;
        line-height: 36px;
        margin: 0 20px 0 0;
        vertical-align: middle;
        width: auto;
      }

      .p-page-header__message--error {
        background: url('#{$asset-path}images/icons/error.svg') no-repeat;
        background-position: 0 10px;
        background-size: 16px 16px;
        padding-left: 25px;
      }

      .p-page-header__message--info {
        background: url('#{$asset-path}images/icons/info.svg') no-repeat;
        background-position: 0 10px;
        background-size: 16px 16px;
        padding-left: 25px;
      }

      .p-page-header__message--warning {
        background: url('#{$asset-path}images/icons/warning.svg') no-repeat;
        background-position: 0 10px;
        background-size: 16px 16px;
        padding-left: 25px;
      }

      .p-page-header__message--success {
        background: url('#{$asset-path}images/icons/success.svg') no-repeat;
        background-position: 0 10px;
        background-size: 16px 16px;
        padding-left: 25px;
      }

      .p-page-header__controls {
        float: right;
        padding: 0;
        vertical-align: middle;
      }
    }
  }
}
