////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-buttons
/// @since        0.0.1
////

/// Buttons element styles
/// @group Forms
@mixin maas-buttons {
  // .p-button--primary {
  //   line-height: 20px;
  // }

  .p-button--primary,
  .p-button--secondary,
  .p-button--base {
    @extend %button-pattern;
  }

  .p-button--primary {
    background-color: $color-primary-action;
    border: 0;
    color: $color-x-light !important;
  }

  .p-button--secondary {
    border: 1px solid $color-mid-light;
    line-height: 18px;
  }

  .p-button--base {
    line-height: 13px;
  }

  .p-button--primary,
  .p-button--destructive,
  .p-button--positive {

    &:hover {
      color: $white;
    }
  }

  .p-button--base,
  .p-button--neutral {

    &:hover {
      color: $color-dark;
    }
  }
}

@mixin maas-button-group {
  .p-button-group {
    clear: both;
    min-width: 160px;
    position: relative;
    vertical-align: middle;
    width: 100%;

    &.p-button-group--inline {
      display: inline-block;
      width: auto;

      @media (max-width: $breakpoint-medium) {
        width: 100%;
      }
    }

    .p-button-group__link {
      display: inline-block;
      float: left;
      padding-right: 35px;
      text-align: left;
      width: 100%;

      &::after {
        border-bottom: 1px solid;
        border-right: 1px solid;
        content: '';
        display: inline-block;
        height: 4px;
        position: absolute;
        right: 15px;
        top: 15px;
        transform: rotate(45deg);
        vertical-align: middle;
        width: 4px;
      }
    }

    .p-button-group__dropdown {
      background: $white;
      border-radius: 3px;
      box-shadow: 0 1px 1px $color-border-shadow;
      clear: both;
      list-style: none;
      margin: 0;
      max-height: 1000px;
      min-width: 160px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      right: 0;
      top: 36px;
      transition: max-height .3s ease-in;
      width: 100%;
      z-index: 20;
    }

    .p-button-group__item {
      clear: both;
      float: left;
      margin: 0;
      padding: 5px 10px;

      .p-button-group__item-link {
        border: 0;
        color: $color-dark;
        cursor: pointer;
        float: left;
        margin: 0;
        width: 100%;

        &:hover {
          color: $color-primary-action;
          text-decoration: none;
        }
      }
    }
  }
  // scss-lint:enable SelectorFormat
}

%button-pattern {
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 300;
  height: 36px;
  line-height: 20px;
  padding: 8px 14px;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &[disabled],
  &.p-button--disabled {
    opacity: .5;
    pointer-events: none;
  }

  &.p-button--inline {
    display: inline-block;
    width: auto;

    @media (max-width: $breakpoint-medium) {
      width: 100%;
    }
  }

  @media (max-width: $breakpoint-medium) {
    width: 100%;
  }
}
