/// Accordion
@mixin maas-accordion {
  // sass-lint:enable NestingDepth SelectorDepth;
  .p-mobile-nav {
    display: none;

    @media only screen and (max-width: $breakpoint-medium) {
      display: block;
      width: 100%;

      &__link {
        background: $white;
        display: block;
        float: left;
        margin: 0;
        padding: 15px 10px;
        top: 0;
        width: 100%;
        z-index: 10;
      }
    }
  }

  // sass-lint:disable NestingDepth SelectorDepth
  .accordion {
    background: $white;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    list-style: none;
    margin-bottom: 40px;

    @media only screen and (max-width: $breakpoint-medium) {
      margin-bottom: 0;
    }

    &.is-disabled {
      opacity: .5;
      pointer-events: none;
    }

    // accordion main sidebar title
    .accordion__title {
      border-bottom: 1px dotted $muted-grey;
      margin: 0;
      padding: 14px 20px;
      @include font-size(20px);
      @include focus($offset: 2px);

      @media only screen and (max-width: $breakpoint-medium) {
        background: $transparent url('#{$asset-path}images/04d2075a-chevron-down.svg') top 20px right 20px no-repeat;
        border-bottom: 0;

        &.is-active {
          background-image: url('#{$asset-path}images/89c10794-remove.svg');
          border-bottom: 1px dotted $muted-grey;

          + .accordion__content {
            display: block;
          }
        }
      }
    }

    .accordion__content {
      @media only screen and (max-width: $breakpoint-medium) {
        display: none;
      }
    }

    // accordion data block, contains all filter links and controls.
    .accordion__tab {
      border-bottom: 1px dotted $muted-grey;

      &:last-of-type {
        border: 0;
      }

      // Block level title
      .accordion__tab-title {
        display: block;
        height: auto;
        text-align: left;
        @extend %accordion__tab-title;
        @include font-size(20px);
        @include focus;

        &.is-active {
          background-image: url('#{$asset-path}images/f3f43376-chevron-up.svg');
          @extend %accordion__tab-title;

          + .accordion__tab-content {
            max-height: 400px;
            transition: max-height .5s ease-in;

            @media only screen and (max-width: $breakpoint-medium) {
              max-height: 150px;
            }
          }
        }

        &:hover {
          border-bottom: 0;
        }
      }

      // Filter list
      .accordion__tab-content {
        max-height: 0;
        overflow: auto;
        transition: max-height .5s ease-out;

        .accordion__tab-list {
          list-style-type: none;
          margin: 0;
          padding: 0 20px 14px;

          .accordion__tab-item {
            margin-bottom: .15em;

            .accordion__tab-link {
              background-color: transparent;
              border-bottom: 0;
              box-sizing: border-box;
              color: $cool-grey;
              display: inline-block;
              padding: 0 20px 0 0;
              text-align: left;
              width: 100%;
              @include focus($offset: 2px);

              &:hover {
                color: $link-hover;
                text-decoration: none;
              }

              .disabled & {
                color: $cool-grey;
              }
            }

            &.is-active {
              font-weight: 400;
              margin-bottom: .15em;

              .accordion__tab-link {
                background: $transparent url('#{$asset-path}images/89c10794-remove.svg') top 7px right 0 no-repeat;
                background-size: 12px;
                text-decoration: none;
              }

              &:hover {
                color: $link-color;
              }
            }
          }
        }
      }
    }
  }

  // Accordion patterns
  %accordion__tab-title {
    background: $transparent url('#{$asset-path}images/04d2075a-chevron-down.svg') top 20px right 20px no-repeat;
    color: $warm-grey;
    cursor: pointer;
    margin: 0;
    padding: 12px 20px;
  }
}
