////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-icons
/// @since        0.0.1
////

/// Icons
/// @group Icons
@mixin maas-list-tree {
  .p-list__tree {
    border-left: 1px solid $outline;
    list-style: none;
    position: relative;

    &.p-list__tree--sub-level {
      clear: both;
      margin-left: 20px;
      margin-top: 10px;

      .p-list__item .p-list__item-feedback {
        left: 180px;
      }
    }

    .p-list__item {
      list-style: none;

      &::before {
        background: $outline;
        content: '';
        display: inline-block;
        height: 1px;
        margin-right: 5px;
        position: relative;
        top: -4px;
        width: 12px;
      }

      &:last-child::after {
        background: $off-white;
        bottom: -6px;
        content: '';
        display: block;
        height: 1em;
        left: -2px;
        position: absolute;
        width: 4px;
      }

      .p-list__item-feedback {
        left: 200px;
        margin-top: -24px;
        position: relative;
      }
    }
  }
}
