////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-tabs
/// @since        0.0.1
////

/// MAAS tabs
/// @group maas tabs
@mixin maas-tabs {
  .p-tabs {
    display: inline-block;

    .p-tabs__tab {
      @include font-size(18px);
      display: inline-block;
      list-style-type: none;

      .p-tabs__tab-link {
        border-bottom: 0;
        color: $color-mid-dark;
        font-weight: 300;
        text-decoration: none;
      }

      &:hover .p-tabs__tab-link {
        border-bottom: 3px solid $color-mid-dark;
      }

      &::after {
        background: lighten($color-mid-light, 2%);
        content: '';
        display: inline-block;
        height: 11px;
        margin: 0 5px;
        padding: 0;
        width: 1px;
      }

      &:last-child::after {
        display: none;
      }
    }

    .is-active {

      .p-tabs__tab-link,
      &:hover .p-tabs__tab-link {
        border-bottom: 3px solid $tab-active-state;
      }
    }
  }
}
