////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-page-navigation
/// @since        1.2.0
////

/// MAAS Page navigation
/// @group maas page navigation
@mixin maas-page-navigation {

  .page-navigation {
    box-sizing: border-box;
    background: $white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    padding: 0 20px;
    height: auto;
    width: 100% !important;
    float: left;
    overflow: visible;
    margin: 0;
    z-index: 1 !important;

    @media only screen and (max-width : $breakpoint-medium) {
      padding: 0;
      position: relative;
      height: 54px;
      overflow: hidden;

      &::before {
        background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0,$white);
        box-sizing: border-box;
        content: '\203A';
        color: $warm-grey;
        display: block;
        font-size: 2rem;
        height: 52px;
        line-height: 52px;
        padding: 0 15px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 1px;
        width: 100px;
        z-index: 10;
      }
    }

    &__links {
      float: left;
      width: auto;

      @media only screen and (max-width : $breakpoint-medium) {
        box-sizing: unset;
        padding-bottom: 20px;
        overflow: scroll;
        position: relative;
        white-space: nowrap;
        width: 100%;
      }
    }

    &__link {
      @include focus;
      border-bottom: 0;
      color: $cool-grey;
      box-sizing: border-box;
      float: left;
      padding: 15px 20px;
      width: auto;
      background-color: transparent;
      height: initial;
      border-radius: 0;

      @media only screen and (max-width : $breakpoint-medium) {
        display: inline-block;
        float: none;
        width: auto;
        z-index: 1;
      }

      &:hover {
        background-color: $transparent;
        color: $cool-grey;
        border-bottom: 0;
        box-shadow: inset 0 -3px $outline;

        @media only screen and (max-width : $breakpoint-medium) {
          box-shadow: none;
          background-color: rgba($outline, .2);
        }

        &:focus,
        &:active {
          outline: none;
          box-shadow: inset 0 -3px $outline, 0 0 0 1px $color-focus;
        }
      }

      &:focus,
      &:active {
        outline: none;
        box-shadow: 0 0 0 1px $color-focus;
      }

      &.is-active {
        box-shadow: inset 0 -3px $tab-active-state;

        @media only screen and (max-width : $breakpoint-medium) {
          box-shadow: inset 3px 0 $tab-active-state;
        }

        &:hover {
          box-shadow: inset 0 -3px $tab-active-state;

          @media only screen and (max-width : $breakpoint-medium) {
            box-shadow: inset 3px 0 $tab-active-state;
          }
        }

        &:focus,
        &:active {
          outline: none;
          box-shadow: inset 0 -3px #e95420, 0 0 0 1px $color-focus;
        }
      }
    }
  }
}
