////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-tool-tips
/// @since        0.0.1
////

/// Flash message styles
/// @group maas flash messages
@mixin maas-flash-messages {
  .p-flash-messages {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;

    .p-flash-messages__item {
      background: $color-x-light;
      background-position: top 50% left 15px;
      background-repeat: no-repeat;
      border-radius: 2px;
      box-shadow: 0 1px 1px $color-border-shadow;
      box-sizing: border-box;
      list-style: none;
      margin: 0 0 20px;
      padding: 15px 20px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &.p-flash-messages__item--error {
        background: $color-x-light url('#{$asset-path}images/icons/error.svg') no-repeat;
        background-position: 15px center;
        background-size: 16px 16px;
        padding-left: 45px;
      }

      &.p-flash-messages__item--info {
        background: $color-x-light url('#{$asset-path}images/icons/info.svg') no-repeat;
        background-position: 15px center;
        background-size: 16px 16px;
        padding-left: 45px;
      }

      &.p-flash-messages__item--warning {
        background: $color-x-light url('#{$asset-path}images/icons/warning.svg') no-repeat;
        background-position: 15px center;
        background-size: 16px 16px;
        padding-left: 45px;
      }

      &.p-flash-messages__item--success {
        background: $color-x-light url('#{$asset-path}images/icons/success.svg') no-repeat;
        background-position: 15px center;
        background-size: 16px 16px;
        padding-left: 45px;
      }
    }
  }
}
