////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-forms
/// @since        0.0.3
////

/// Form layout element styles
/// @group Forms
@mixin maas-form-layouts {
  .p-form {

    .p-form__group {
      margin-bottom: 10px;

      .p-form__group-input {
        position: relative;

        .p-form__group-remove {
          background: url('#{$asset-path}images/icons/remove.svg') no-repeat;
          background-position: center;
          background-size: 75% 75%;
          cursor: pointer;
          display: inline-block;
          height: 16px;
          position: absolute;
          right: 10px;
          top: 10px;
          width: 16px;
        }

        .p-icon {
          display: inline-block;
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }

      &.p-form__group--subtle {

        .p-form__group-label {
          color: $color-mid-dark;
        }

        input,
        select,
        textarea {
          background-color: transparent;
          border-color: $mercury-grey;

          &:hover {
            background-color: $white;
            border-color: $color-mid-light;
            outline: none;
          }

          &:active,
          &:focus {
            background-color: $white;
            border-color: $color-mid-dark;
            outline: none;
          }
        }
      }
    }

    .p-form__fieldset {
      border: 0;

      .p-form__group:last-of-type {
        margin-bottom: 0;
      }
    }

    .p-form__siblings {
      float: left;
      margin-bottom: 10px;
      width: 100%;

      &:hover {

        .p-form__group--subtle {

          input,
          select,
          textarea {
            background-color: $white;
            border-color: $color-mid-light;
            outline: none;
          }
        }
      }

      &.is-active {

        .p-form__group--subtle {

          input,
          select,
          textarea {
            background-color: $white;
            border-color: $color-mid-light;
            outline: none;
          }
        }
      }
    }

    &.p-form--stack {

      .p-form__group {
        float: left;
        width: 100%;

        [class*='-col'] {
          margin-bottom: 0;
        }

        .p-form__group-label {
          line-height: 34px;
          margin-bottom: 0;
          margin-top: 0;
          vertical-align: top;
        }

        .p-form__group-input {
          min-height: 34px;

          .onoffswitch {
            margin-top: 9px;
          }
        }
      }
    }

    &.p-form--inline {

      .p-form__fieldset {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        width: auto;
      }

      .p-form__group {
        display: inline-block;
        margin: 0 20px 0 0;
        vertical-align: top;

        @media (max-width: $breakpoint-medium) {
          margin: 0 0 10px;
          width: 100%;
        }

        .p-form__group-label {
          line-height: 34px;
          margin-bottom: 0;
          margin-right: 10px;
          vertical-align: top;

          @media (max-width: $breakpoint-medium) {
            margin-right: 0;
            width: 100%;
          }
        }

        input,
        select,
        .p-form__group-input {
          display: inline-block;
          min-height: 34px;
          width: auto;

          @media (max-width: $breakpoint-medium) {
            width: 100%;
          }
        }

        [type='checkbox'] + label,
        [type='radio'] + label {
          line-height: 34px;
        }

        .onoffswitch {
          margin: 9px 0 0;
        }

        .onoffswitch-external-label {
          line-height: 34px;
          margin: 0;
          vertical-align: middle;
        }
      }
    }

    .p-form__help-text {
      @include font-size(14px);
      color: $color-mid-dark;
    }
  }

  .p-form__error {
    color: $error;
    list-style: none;
    margin: 0;
    padding: 0;

    .p-form__error-item {
      margin: 6px 0;
    }
  }
}
