////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-header
/// @since        0.0.3
////

/// MAAS header styling
/// @group maas header
@mixin maas-header {
  // scss-lint:disable NestingDepth
  .banner {
    border-bottom: 0;

    @media only screen and (min-width: $navigation-threshold) {
      border-bottom: 0;
      box-shadow: none;

      .nav-primary {
        max-width: none;

        ul {

          li {
            border-left: 1px solid $cool-grey;

            &:last-child {
              border-right: 1px solid $cool-grey;
              border-left: 1px solid $cool-grey;
            }

            &:nth-child(2n+2) {
              border-right: 0;
            }
          }
        }
      }
    }
  }
  // scss-lint:enable NestingDepth
} // @mixin maas-header
