////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-page-header
/// @since        0.0.1
////

/// MAAS Page header
/// @group maas page header
@mixin maas-page-header {
  .page-header {
    box-sizing: border-box;
    background: $white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    width: 100%;
    float: left;

    .page-header__title {
      font-size: $h1;
      margin: 0;
      padding: 34px 0;
      display: inline-block;
    }
  }
}
