////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-accordion
/// @since        0.0.1
////

/// MAAS Accordion
/// @group maas accordion
@mixin maas-accordion {
  .p-accordion {
    background: $white;
    border-radius: 2px;
    box-shadow: 0 1px 1px $color-border-shadow;
    box-sizing: border-box;
    list-style: none;
    margin-bottom: 40px;

    &.is-disabled {
      opacity: .5;
      pointer-events: none;
    }

    // accordion main sidebar title
    .p-accordion__title {
      @include font-size(20px);
      border-bottom: 1px dotted $muted-grey;
      margin: 0;
      padding: 11px 20px 11px;
    }

    // accordion data block, contains all filter links and controls.
    .p-accordion__tab {
      border-bottom: 1px dotted $muted-grey;

      &:last-of-type {
        border: 0;
      }

      // Block level title
      .p-accordion__tab-title {
        @extend %accordion-tab-title;

        &.is-active {
          @extend %accordion-tab-title;
          background-image: url('#{$asset-path}images/forms/chevron-up.svg');

          + .p-accordion__tab-content {
            max-height: 400px;
            transition: max-height .5s ease-in;
          }
        }
      }

      // Filter list
      .p-accordion__tab-content {
        max-height: 0;
        overflow: auto;
        transition: max-height .5s ease-out;

        .p-accordion__tab-list {
          list-style-type: none;
          margin: 0;
          padding: 0 20px 14px;

          .p-accordion__tab-item {
            margin-bottom: .15em;

            .p-accordion__tab-link {
              border-bottom: 0;
              box-sizing: border-box;
              color: $color-dark;
              display: inline-block;
              outline: 0;
              padding-right: 20px;
              width: 100%;

              &:hover {
                color: $color-primary-action;
                text-decoration: none;
              }

              .disabled & {
                color: $color-dark;
              }
            }

            &.is-active {
              font-weight: 400;
              margin-bottom: .15em;

              .p-accordion__tab-link {
                background: $color-transparent url('#{$asset-path}images/icons/cross.svg') top 7px right 0 no-repeat;
                text-decoration: none;
              }

              &:hover {
                color: $link-color;

                .p-accordion__tab-link {
                  background-image: url('#{$asset-path}images/icons/cross-orange.svg');
                  color: $color-primary-action;
                }
              }
            }
          }
        }
      }
    }
  }

  // Accordion patterns
  %accordion-tab-title {
    @include font-size(16px);
    background: $color-transparent url('#{$asset-path}images/forms/chevron-down.svg') top 20px right 20px no-repeat;
    color: $color-mid-dark;
    cursor: pointer;
    margin: 0;
    padding: 14px 20px;
  }
}
