/// Search
@mixin maas-search {

  .search {
    position: relative;

    .search__input {
      appearance: textfield;
      background: $white;
      border: 0;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      box-sizing: border-box;
      list-style: none;
      padding: 15px;
      width: 100%;
      @include font-size(16px);

      &::placeholder {
        color: $warm-grey;
      }

      // IE10+
      &::-ms-clear {
        display: none;
      }

      // Chrome
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }

      &:disabled,
      &.search--disabled {
        background-color: $white;
        opacity: .5;
        pointer-events: none;

        + .search__submit {
          opacity: .5;
          pointer-events: none;
        }
      }
    }

    .search__submit {
      @include focus($offset: 2px);
      background-color: $transparent;
      background-image: url('#{$asset-path}images/9cc42dcc-magnifying_glass.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px;
      border: 0;
      display: block;
      height: 20px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      right: 15px;
      text-indent: -999em;
      top: 15px;
      width: 20px;  

      &:hover {
        background-color: $transparent;
        background-image: url('#{$asset-path}images/9cc42dcc-magnifying_glass.svg');
      }

      &.search__submit--close {
        background-image: url('#{$asset-path}images/89c10794-remove.svg');
        background-size: 16px;
      }
    }
  }
}
