////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-header
/// @since        1.0.0
////

/// MAAS header styling
/// @group maas header
@mixin maas-header {

  .banner {
    background-color: $black;
    min-height: 49px;

    @media only screen and (min-width: $navigation-threshold) {
      box-shadow: none;
    }

    .nav-primary {

      @media only screen and (min-width: $navigation-threshold) {
        max-width: none;
      }

      .logo {

        @media only screen and (min-width: $navigation-threshold) {
          height: auto;
          margin-top: 12px;
        }

        a {
          border-bottom: 0;

          svg,
          img {
            vertical-align: middle;
          }
        }
      }

      ul {
        border-top: 0;

        @media only screen and (min-width: $navigation-threshold) {
          width: auto;
        }

        li {
          width: 100%;
          border-right: 0;

          @media only screen and (min-width: $navigation-threshold) {
            border-left: 1px solid $cool-grey;
            width: auto;

            &:last-child {
              border-right: 1px solid $cool-grey;
              border-left: 1px solid $cool-grey;
            }
          }

          a,
          a:link,
          a:visited {
            box-sizing: border-box;
            border-bottom: 0;
            border-left: 0;

            &.active {
              background-color: $transparent;

              font-weight: 400;

              @media only screen and (min-width: $navigation-threshold) {
                box-shadow: inset 0 -3px $primary-button-color;
              }
            }

            &:hover,
            &.active:hover {

              @media only screen and (min-width: $navigation-threshold) {
                background-color: rgba($cool-grey, .9);
              }
            }
          }
        }
      }
    }

    .nav-toggle {

      a {
        border-bottom: 0;
      }
    }
  }
}
