////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-page-navigation
/// @since        1.2.0
////

/// MAAS Page navigation
/// @group maas page navigation
@mixin maas-page-navigation {

  .page-navigation {
    background: $white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    float: left;
    height: auto !important;
    margin: 0;
    overflow: visible;
    padding: 0 20px;
    width: 100% !important;
    z-index: 1 !important;

    @media only screen and (max-width : $breakpoint-medium) {
      padding: 0;
    }

    &__links {
      float: left;
      width: auto;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100%;
      }
    }

    &__link {
      background-color: transparent;
      border-bottom: 0;
      border-radius: 0;
      box-sizing: border-box;
      color: $cool-grey;
      float: left;
      height: initial;
      padding: 15px 20px;
      width: auto;
      @include focus;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100%;

        + .page-navigation__link {
          border-top: 1px dotted $outline;
        }
      }

      &:hover {
        background-color: $transparent;
        border-bottom: 0;
        box-shadow: inset 0 -3px $outline;
        color: $cool-grey;

        @media only screen and (max-width : $breakpoint-medium) {
          background-color: rgba($outline, .2);
          box-shadow: none;
        }

        &:focus,
        &:active {
          box-shadow: inset 0 -3px $outline, 0 0 0 1px $color-focus;
          outline: none;
        }
      }

      &:focus,
      &:active {
        box-shadow: 0 0 0 1px $color-focus;
        outline: none;
      }

      &.is-active {
        box-shadow: inset 0 -3px $tab-active-state;

        @media only screen and (max-width : $breakpoint-medium) {
          box-shadow: inset 3px 0 $tab-active-state;
        }

        &:hover {
          box-shadow: inset 0 -3px $tab-active-state;

          @media only screen and (max-width : $breakpoint-medium) {
            box-shadow: inset 3px 0 $tab-active-state;
          }
        }

        &:focus,
        &:active {
          box-shadow: inset 0 -3px #e95420, 0 0 0 1px $color-focus;
          outline: none;
        }
      }
    }
  }
}
