hr {
  border-bottom: 0;
  border-color: $pale-grey;
  border-style: dotted;
  float: left;
  margin-bottom: 60px !important;
  margin-top: 60px;
  width: 100%;
}

.docs-nav {
  background-color: $white;
  box-sizing: border-box;
  float: left;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 10;

  .docs-nav__logo {
    display: inline-block;
    vertical-align: middle;
  }

  .docs-nav__title {
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 10px;
    vertical-align: middle;
  }

  .docs-nav__link {
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 10px;
    vertical-align: middle;
  }
}

.docs-color {
  border-radius: 5px;
  height: 100px;
  margin-bottom: 20px;
  width: 100%;

  @each $name, $color in $colors {
    &.docs-color--#{$name} {
      background-color: $color;
    }
  }
}

.docs-text {

  &--success {
    background: url('#{$asset-path}images/2355399b-info.svg') no-repeat;
    background-position: 0 4px;
    background-size: 16px 16px;
    padding-left: 30px;
  }

  &--avoid {
    background: url('#{$asset-path}images/d730daea-error.svg') no-repeat;
    background-position: 0 4px;
    background-size: 16px 16px;
    padding-left: 30px;
  }
}

.docs-code {
  background-color: darken($porcelain, 5%);
  border-radius: 3px;
  color: $cool-grey;
  padding: 2px 3px;
}

.docs-example {
  background-color: $porcelain;
  border-radius: 5px;
  border: 1px solid $silk;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  width: 100%;

  .docs-example__item {
    border-bottom: 1px solid $silk;
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 100%;

    &--last,
    &--code {
      border-bottom: 0;
      margin-bottom: 0;
    }

    &--code {
      background-color: lighten($silk, 15%);
      color: $ash;
      overflow-x: scroll;
      padding-right: 0;
      white-space: pre-wrap;

      code {
        white-space: pre-wrap;
      }
    }
  }

  .docs-example__help-text {
    color: $silk;
    font-size: 14px;
    margin: 0;
    width: 100%;
  }
}

.docs-box {
  border: 0;
}
