// SURU colors
$black:                 #000!default;
$cool-grey:             #333!default;
$ash:                   #888!default;
$silk:                  #cdcdcd!default;
$porcelain:             #f7f7f7!default;
$white:                 #fff!default;
$color-transparent-white: rgba($white, .4);
$color-border-shadow: rgba($white, .1);

$blue:                  #19b6ee!default;
$green:                 #3eb34f!default;
$red:                   #ed3146!default;
$orange:                #e95420!default;
$yellow:                #f99b0f!default;

// SURU color names
// scss-lint:disable ColorVariable ColorKeyword
$colors: (
  black: $black,
  cool-grey: $cool-grey,
  ash: $ash,
  silk: $silk,
  porcelain: $porcelain,
  white: $white,
  blue: $blue,
  green: $green,
  red: $red,
  orange: $orange,
  yellow: $yellow
);
// scss-lint:enable ColorVariable ColorKeyword
