// SURU colors
$black:                 #000 !default;
$cool-grey:             #333 !default;
$ash:                   #888 !default;
$silk:                  #cdcdcd !default;
$porcelain:             #f7f7f7 !default;
$color-x-light:                 #fff !default;
$color-transparent-white: rgba($color-x-light, .4);
$color-border-shadow: rgba($color-x-light, .1);

$blue:                  #19b6ee !default;
$green:                 #3eb34f !default;
$red:                   #ed3146 !default;
$orange:                #e95420 !default;
$yellow:                #f99b0f !default;
