// SURU colors
$black:                 #000 !default;
$cool-grey:             #333 !default;
$ash:                   #888 !default;
$silk:                  #cdcdcd !default;
$porcelain:             #f7f7f7 !default;
$white:                 #fff !default;

$blue:                  #19b6ee !default;
$green:                 #0e8420 !default;
$red:                   #ed3146 !default;
$orange:                #e95420 !default;
$yellow:                #f99b11 !default;

// SURU color names
// sass-lint:disable no-color-keywords
$colors: (
  black: $black,
  cool-grey: $cool-grey,
  ash: $ash,
  silk: $silk,
  porcelain: $porcelain,
  white: $white,
  blue: $blue,
  green: $green,
  red: $red,
  orange: $orange,
  yellow: $yellow
);
// sass-lint:enable no-color-keywords
