////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-borders
/// @since        0.0.1
////

/// Borders
/// @group Borders
@mixin maas-borders($border-color: $color-mid-light, $border-width: 1px) {
  .u-border {
    border: $border-width dotted $border-color !important;

    &--top {
      border-top: $border-width dotted $border-color !important;

      &-none {
        border-top: 0 !important;
      }
    }

    &--right {
      border-right: $border-width dotted $border-color !important;

      &-none {
        border-right: 0 !important;
      }
    }

    &--bottom {
      border-bottom: $border-width dotted $border-color !important;

      &-none {
        border-bottom: 0 !important;
      }
    }

    &--left {
      border-left: $border-width dotted $border-color !important;

      &-none {
        border-left: 0 !important;
      }
    }

    &--dotted {
      border-style: dotted !important;
    }

    &--solid {
      border-style: solid !important;
    }

    &--dashed {
      border-style: dashed !important;
    }

    &--none {
      border: 0 !important;
    }
  }
}
