////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-typography
/// @since        0.0.1
////

/// MAAS Typographic element styles
/// @group MAAS Typography
@mixin maas-typography {

  @media only screen and (min-width: $breakpoint-large) {

    p,
    li,
    code,
    pre {
      font-size: #{($base-font-size/16px)*1em};
      line-height: #{$line-height-ratio};
      margin-bottom: .75em;
    }

    // Headings
    #{headings()} {
      margin: 10px 0;
      line-height: 1.5em;
    }

    $headings: h1, h2, h3, h4, h5;
    $size: $h1, $h2, $h3, $h4, $h5;

    $heading-size: zip($headings, $size);

    // Create heading styles
    @each $h in $heading-size {
      #{nth($h, 1)} {
        color: $headline-color;
        font-size: #{(nth($h, 2)/16px)*1em};
        font-weight: 300;
        line-height: #{$line-height-ratio};

        small {
          font-size: 75%;
        }
      }
    }

    // Additional font sizes
    .gigantic {
      font-size: #{($gigantic/16px)*1em};
    }

    .mega {
      font-size: #{($mega/16px)*1em};
    }
  }
}
