////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-header
/// @since        0.0.3
////

/// MAAS header styling
/// @group maas header
@mixin maas-header {
  // scss-lint:disable NestingDepth
  .banner {
    background: $black;
    border-bottom: 0;
    box-shadow: 0;

    @media only screen and (min-width: $navigation-threshold) {
      border-bottom: 0;
      box-shadow: none;
    }

    .nav-primary {

      @media only screen and (min-width: $navigation-threshold) {
        width: auto;
      }

      ul {

        @media only screen and (min-width: $navigation-threshold) {
          border-top: 0;
          border-right: 0;
          box-shadow: none;
        }

        li {

          @media only screen and (min-width: $navigation-threshold) {
            width: auto;
            border-right: 0;
            border-bottom: 0;
            border-left: 1px solid $cool-grey;

            &:last-child {
              border-right: 1px solid $cool-grey;
              border-left: 1px solid $cool-grey;

              a {
                border-right: 0;
              }
            }
          }

          @media only screen and (max-width: $navigation-threshold) {
            &:nth-child(2n+2) {
              border-right: 0;
            }
          }

          a,
          a:link,
          a:visited {

            @media only screen and (min-width: $navigation-threshold) {
              border-left: 0;
            }
          }
        }
      }
    }
  }
  // scss-lint:enable NestingDepth
} // @mixin maas-header
